<!DOCTYPE html>
<html lang="en" ng-app="SpectreSkyfall" >
  <head>
    <title>S P E C T R E</title>

    <!-- <link rel="shortcut icon" type="image/png" href="favicon.ico" /> -->

    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic' />

    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css" />
    <link rel="stylesheet" href="../node_modules/openlayers/css/ol.css" />
    <link rel="stylesheet" href="../node_modules/angular-intro.js/introjs.css" />
    <link rel="stylesheet" href="assets/app.css" />
    <link rel="stylesheet" href="assets/ol3-contextmenu.css" />

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.js"></script>
    <!-- <script src="../node_modules/openlayers/build/ol-custom.js"></script> -->
    <script src="../node_modules/angular-material/angular-material.js"></script>
    <script src="../node_modules/angular-intro.js/intro.js"></script>
    <script src="../node_modules/angular-intro.js/angular-intro.js"></script>

    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="//d3js.org/topojson.v1.min.js"></script>

    <script src="http://openlayers.org/en/v3.19.1/build/ol.js"></script>

    <script src="./src/index.js"></script>
    <script src="./src/jquery.slimscroll.js"></script>
    <script src="./src/ol3-contextmenu.js"></script>

    <script src="./src/Main/MainController.js"></script>
    <script src="./src/Main/DefaultConfigs.js"></script>
    <script src="./src/Main/MapService.js"></script>
    
  </head>

  <body ng-cloak layout="column" ng-controller="MainController as ctrl" >

    <!-- Container #1 - Main container on app -->
    <div flex layout="column" ng-intro-options="helpSettings" ng-intro-method="CallMe" ng-intro-autostart="false">

      <!-- Top Classification Bar -->
      <md-toolbar layout="row"  layout-align="start center" class="md-primary md-hue-2 classification1">
        <div class="text1"> {{ data.classificationText }} </div>
      </md-toolbar>

      <!-- Container #2 - Top toolbar in Container #1 -->
      <md-toolbar layout="row" layout-xs="column" layout-align="space-between center" class="controlsToolbar md-primary md-hue-2">

        <div layout="row" layout-align="start center">
          <!-- Trigger element for Filter menu -->
          <md-button class="menuButton filterMenuButton" ng-click="ctrl.toggle('filternav')" aria-label="Show Filter Options" >
            <md-icon md-svg-icon="filter" ></md-icon>
          </md-button>

          <!-- Trigger element for Algorithm menu -->
          <md-button class="menuButton algoMenuButton" ng-click="ctrl.toggle('algonav')" aria-label="Show Algorithm List" >
            <md-icon md-svg-icon="algo" ></md-icon>
          </md-button>

          <!-- Button to view sattellite info -->
          <md-button ng-click="showSatelliteToast()" class="menuButton satFootButton" aria-label="View Satellite Location" >
            <md-icon md-menu-origin md-svg-icon="earth2"></md-icon>
          </md-button>
        </div>

        <div hide-xs layout="row" layout-align="end center">
          <!-- Span holder for possibly adding user accounts -->
          <span style="font-size: small; margin: 0 40px 0 40px;">John Smith</span>

          <!-- Button to open the help options sidenav -->
          <md-button ng-click="ctrl.toggle('helpnav')" class="menuButton helpMenuButton" aria-label="Open Help Overlay" >
            <md-icon md-menu-origin md-svg-icon="help"></md-icon>
          </md-button>

          <!-- Button to open the settings sidenav -->
          <md-button ng-click="ctrl.toggle('settingsnav')" class="menuButton settingsMenuButton" aria-label="Open Settings Sidenav" >
            <md-icon md-menu-origin md-svg-icon="settings"></md-icon>
          </md-button>
        </div>

      </md-toolbar>
        
      <!-- Container #3 - Content holder in Container #1 -->
      <md-content id="content">

        <!-- SideNav for Help Options -->
        <md-sidenav md-component-id="helpnav" class="md-sidenav-right md-whiteframe-z2 md-closed">

          <md-toolbar layout="row" class="controlsToolbar">
            <h1 class="sidenav-title">Help Options</h1>
          </md-toolbar>
        
          <md-content layout-padding>
            <md-list>
            
              <md-list-item >
                <md-button ng-click="ctrl.mainHelp()">
                  <md-icon md-svg-icon="livehelp" class="avatar"></md-icon>
                  {{ data.selectedApp.name }} Tutorial
                </md-button>
              </md-list-item>

              <md-list-item >
                <md-button ng-click="ctrl.phenomHelp()">
                  <md-icon md-svg-icon="satellite" class="avatar"></md-icon>
                  Phenomenology Tutorial
                </md-button>
              </md-list-item>

              <md-list-item >
                <md-button ng-click="ctrl.infoPanel()">
                  <md-icon md-svg-icon="info" class="avatar"></md-icon>
                  About {{ data.selectedApp.name }}
                </md-button>
              </md-list-item>

            </md-list>
          </md-content>

        </md-sidenav>

        <!-- SideNav for Settings Options -->
        <md-sidenav md-component-id="settingsnav" class="md-sidenav-right md-whiteframe-z2 md-closed">

          <md-toolbar layout="row" class="controlsToolbar">
            <h1 class="sidenav-title">Application Settings</h1>
          </md-toolbar>
        
          <md-content layout-padding>
            <form name="settingsForm">
                
                <!-- Time Back Option -->
                <div class="playSpeed">
                    <h2>Play Speed</h2>
                    <md-input-container flex="80" style="margin-left:10px; width:300px;">
                      <label>Playback Speed</label>
                      <md-select name="speed" ng-model="playspeed">
                        <md-option ng-value=".25">4x Faster</md-option>
                        <md-option ng-value=".5">2x Faster</md-option>
                        <md-option ng-value="1">Default Speed</md-option>
                        <md-option ng-value="2">2x Slower</md-option>
                        <md-option ng-value="4">4x Slower</md-option>
                      </md-select>
                    </md-input-container>
                </div>

                <md-button class="md-raised" ng-click="ctrl.saveSettings()" type="button">Apply</md-button>

            </form>
          </md-content>

        </md-sidenav>

        <!-- SideNav for Filter Options -->
        <md-sidenav md-component-id="filternav" layout="column" layout-fill md-is-locked-open="sideNavOpen" class="filternav md-sidenav-left md-whiteframe-z2" md-disable-backdrop="true">
          
          <md-toolbar layout="row" class="controlsToolbar">
            <h1 class="sidenav-title">Filter Options</h1>
            <md-button class="menuButton" ng-click="ctrl.filterHelp()" aria-label="Show filter List" style="margin-right: 0px; margin-left: auto;">
              <md-icon md-svg-icon="help" ></md-icon>
            </md-button>
          </md-toolbar>

          <md-content flex layout="column" layout-padding layout-fill>
            <form style="display: none;" layout="column" layout-fill name="filterForm" ng-submit="submit()">
                
                <!-- Sensor Option -->
                <div class="sensorControls" layout="column">
                    <h2>Sensor</h2>
                    <md-radio-group layout="row" ng-model="data.defaultSatelliteOption" style="margin-left:10px;" class="filterstep1">
                        <md-radio-button ng-repeat="sats in data.availableSensors"
                            ng-value="sats.id"
                            ng-disabled=" sats.isDisabled " >
                        {{ sats.name }}<br/>
                    </md-radio-group>
                </div>

                <!-- Date/Time Option -->
                <div class="timeControls" layout="column">
                  <h2>Date/Time</h2>
                  
                  <!--<div class="filterstep3">-->
                    <md-checkbox style="margin-left:10px;" ng-checked="" ng-model="data.liveFeedSelected" ng-click="" aria-label="Live Feed Option">
                      Live Feed
                    </md-checkbox>

                    <div layout="row" ng-if="!data.liveFeedSelected">
                        <md-input-container layout='row'>
                            <label>Enter date</label>
                            <md-datepicker ng-model="data.defaultDate" name="dateField" ></md-datepicker>
                        </md-input-container>
                        <span flex>  </span>
                        <md-input-container>
                            <label>Enter time</label>
                            <input type="time" name="usr_time" value="13:00">
                        </md-input-container>
                    </div>
                  <!--</div>-->
                </div>
                
                <!-- Time Back Option -->
                <div class="timeBackControls" layout="column">
                    <h2>Time Back</h2>
                    <md-input-container flex="80" style="margin-left:10px; width:300px;">
                      <label>Time Back</label>
                      <md-select name="delta" ng-model="data.defaultDelta" required>
                        <md-option ng-repeat="delta in data.validDeltas" ng-value="delta.id" ng-disabled="delta.isDisabled">
                          {{delta.name}}
                        </md-option>
                      </md-select>
                    </md-input-container>
                </div>

                <md-button class="md-raised submitControl" ng-click="ctrl.saveFilter()" type="button">Apply</md-button>

            </form>

            <form layout="column" layout-fill name="filterForm" ng-submit="submit()">
                
                <!-- Time Back Option -->
                <div class="timeBackControls" layout="column">
                    <h2>Images</h2>
                    <md-input-container flex="80" style="margin-left:10px; width:300px;">
                      <label>Starting Image</label>
                      <input required type="number" step="any" name="start"  min="1" max="4" ng-model="filterVals.start" />
                    </md-input-container>
                    <md-input-container flex="80" style="margin-left:10px; width:300px;">
                      <label>Ending Image</label>
                      <input required type="number" step="any" name="end"  min="2" max="5" ng-model="filterVals.end" />
                    </md-input-container>
                </div>

                <md-button class="md-raised submitControl" ng-click="ctrl.saveFilter()" type="button">Apply</md-button>

            </form>
          </md-content>
          
        </md-sidenav>

        <!-- SideNav for Algorithm Options -->
        <md-sidenav md-component-id="algonav" class="md-sidenav-left md-whiteframe-z2 md-closed" >
          
          <!-- Container #5 - top row of Container #3 -->
          <md-toolbar layout="row" class="controlsToolbar">
            <h1 class="sidenav-title">Algorithms</h1>
            <md-button class="algoButton menuButton" ng-click="ctrl.algoHelp()" aria-label="Show Algorithm List" style="margin-right: 0px; margin-left: auto;">
              <md-icon md-svg-icon="help" ></md-icon>
            </md-button>
          </md-toolbar>

          <md-content>
            <md-list>
              <md-list-item class="hemiMenuButton">
                <md-button ng-click="ctrl.hemiMenu()">
                  <md-icon md-svg-icon="menu" class="avatar"></md-icon>
                  HEMI
                </md-button>
              </md-list-item>
            
              <md-list-item class="monsoonMenuButton">
                <md-button ng-click="ctrl.monsoonMenu()">
                  <md-icon md-svg-icon="menu" class="avatar"></md-icon>
                  MONSOON
                </md-button>
              </md-list-item>
            
              <md-list-item class="arapahoMenuButton">
                <md-button ng-click="ctrl.arapahoMenu()">
                  <md-icon md-svg-icon="menu" class="avatar"></md-icon>
                  ARAPAHO
                </md-button>
              </md-list-item>
            
              <md-list-item class="stereoMenuButton">
                <md-button ng-click="ctrl.stereoMenu()">
                  <md-icon md-svg-icon="menu" class="avatar"></md-icon>
                  STEREO
                </md-button>
              </md-list-item>

              <md-list-item class="giftMenuButton">
                <md-button ng-click="ctrl.giftMenu()">
                  <md-icon md-svg-icon="menu" class="avatar"></md-icon>
                  GIFT
                </md-button>
              </md-list-item>

              <md-list-item class="gossMenuButton">
                <md-button ng-click="ctrl.gossMenu()">
                  <md-icon md-svg-icon="menu" class="avatar"></md-icon>
                  GOSS
                </md-button>
              </md-list-item>
            </md-list>
          </md-content>
          
        </md-sidenav>

        <!-- SideNav for Phenomenology List -->
        <md-sidenav md-component-id="phenomnav" class="md-sidenav-right md-whiteframe-z2 md-closed">
          
          <md-toolbar layout="row" class="controlsToolbar">
            <h1 class="sidenav-title">About</h1>
            <md-button class="menuButton" ng-click="ctrl.toggle('phenomnav')" aria-label="Show Phenomenology Examples List" style="margin-right: 0px; margin-left: auto;">
              <md-icon md-svg-icon="help" ></md-icon>
            </md-button>
          </md-toolbar>

          <md-content>
            <md-list>
              <md-list-item >
                <md-button ng-click="">
                  <md-icon md-svg-icon="menu" class="avatar"></md-icon>
                  Example 1
                </md-button>
              </md-list-item>
            
              <md-list-item >
                <md-button ng-click="">
                  <md-icon md-svg-icon="menu" class="avatar"></md-icon>
                  Example 2
                </md-button>
              </md-list-item>
            
              <md-list-item >
                <md-button ng-click="">
                  <md-icon md-svg-icon="menu" class="avatar"></md-icon>
                  Example 3
                </md-button>
              </md-list-item>
            
              <md-list-item >
                <md-button ng-click="">
                  <md-icon md-svg-icon="menu" class="avatar"></md-icon>
                  Example 4
                </md-button>
              </md-list-item>
            </md-list>
          </md-content>
          
        </md-sidenav>

        <!-- SideNav for Info List -->
        <md-sidenav md-component-id="infonav" class="infonav md-sidenav-right md-whiteframe-z2 md-closed">
          
          <md-toolbar layout="row" class="controlsToolbar">
            <h1 class="sidenav-title">About</h1>
          </md-toolbar>

          <md-content>
            <div layout="row" style="margin: 10px 5px 10px 5px;">
              <img src="./assets/images/af.png" class="logo" title="United States Air Force" style="margin-left: 0px; margin-right: auto;"/>
              <img ng-if="data.selectedApp.id == 1" src="./assets/images/spectre.png" class="logo-spectre" title="Spectre" style="width: 33%; margin-left: auto; margin-right: auto;"/>
              <img ng-if="data.selectedApp.id == 2" src="./assets/images/skyfall-cornflower2.png" class="logo-skyfall" title="Skyfall" height="26" style="width: 33%; margin-left: auto; margin-right: auto;"/>
              <img src="./assets/images/nasic.png" class="logo" title="NASIC" style="margin-left: auto; margin-right: 0px;"/>
            </div>

            <div style="margin: 10px 5px 10px 5px;">
              <p>
                For questions, comments, and suggestions, please contact NASIC/GSP at
                <a href="mailto:spectre@nasic.wrightpatterson.af.smil.mil">spectre@nasic.wrightpatterson.af.smil.mil</a>
              </p>

              <h1>Release Notes</h1>
              <div>
                <h2 style="margin-left: 10px;">Version 2.0</h2>
                <p style="margin-left: 20px;">2016-10-31</p>
                <ul style="margin-left: 30px;">
                    <li>Contact Information</li>
                </ul>
              </div>
            </div>
          </md-content>
          
        </md-sidenav>
        
        <!-- Container #4 - map holder in Container #3 -->
        <div class="map" id="map">
          <div ng-show="noLayers" class="defaultMap">
            <div>
              <div class="message">
                <span> No data found. </span>
                <span> Alter Filter Settings to load data. </span>
              </div>
            </div>
          </div>
        </div>


      </md-content>

      <!-- Container #5 - toolbar at top of Container #3 -->
      <md-toolbar layout="row" layout-md="row" layout-sm="column" layout-xs="column" layout-align="space-between center" class="controlsToolbar md-primary md-hue-2">
        
        <!-- Controls that create a product -->
        <div class="productControls" hide-sm hide-xs flex="33" flex-md="25" layout="row" layout-align="start center">

          <!-- Button to create movie -->
          <md-button ng-click="" class="menuButton movieMenuButton" aria-label="Create movie">
            <md-icon md-menu-origin md-svg-icon="movie"></md-icon>
          </md-button>

          <!-- Button to take image -->
          <md-button ng-click="" class="menuButton photoMenuButton" aria-label="Create image">
            <md-icon md-menu-origin md-svg-icon="photo"></md-icon>
          </md-button>

        </div>

        <!-- Controls that handle which image is shown -->
        <div class="playControls" flex="33" flex-md="75" flex-sm="75" flex-xs="100" layout="row" layout-align="center center">

          <!-- Button to goto first image -->
          <md-button ng-click="ctrl.startOption()" ng-disabled="playStatus" class="menuButton md-primary playControlButton" aria-label="First image control" >
            <md-icon md-menu-origin md-svg-icon="firstpagearrow"></md-icon>
          </md-button>

          <!-- Button to go back one image -->
          <md-button ng-click="ctrl.backwardOption()" ng-disabled="playStatus" class="menuButton md-primary playControlButton" aria-label="Left image control" >
            <md-icon md-menu-origin md-svg-icon="leftarrow"></md-icon>
          </md-button>

          <!-- Button to control play of images -->
          <md-button ng-if="!playStatus" ng-click="ctrl.playOption()" class="menuButton md-primary playControlButton" aria-label="Play control" >
            <md-icon md-menu-origin md-svg-icon="playarrow"></md-icon>
          </md-button>

          <!-- Button to stop play of images -->
          <md-button ng-if="playStatus" ng-click="ctrl.stopOption()" class="menuButton md-primary playControlButton" aria-label="Play control" >
            <md-icon md-menu-origin md-svg-icon="stop"></md-icon>
          </md-button>

          <!-- Button to go forward one image -->
          <md-button ng-click="ctrl.forwardOption()" ng-disabled="playStatus" class="menuButton md-primary playControlButton" aria-label="Right image control" >
            <md-icon md-menu-origin md-svg-icon="rightarrow"></md-icon>
          </md-button>

          <!-- Button to go to last image -->
          <md-button ng-click="ctrl.endOption()" ng-disabled="playStatus" class="menuButton md-primary playControlButton" aria-label="Last image control" >
            <md-icon md-menu-origin md-svg-icon="lastpagearrow"></md-icon>
          </md-button>

        </div>

        <!-- Controls that handle options for the images -->
        <div class="timeLine" hide-md hide-sm hide-xs flex="33" layout="row" layout-align="center center">

          <div id="horizontal-container" >
            <md-button ng-class="selectedGetClass(item)" ng-right-click="rightClick(item)" class="md-fab md-mini md-primary timeLineButtons" ng-repeat="item in getImages()" ng-disabled="playStatus" ng-click="ctrl.gotoImage(item)" aria-label="Image Button {{item}}" value="{{item}}">
              <!-- <md-icon class="material-icons" ng-if="movieCheck(item)" md-svg-icon="close" style="padding-right: 10px;"></md-icon> -->
              {{ item }}
            </md-button>
          </div>

        </div>

      </md-toolbar>

      <!-- Bottom Classification Bar -->
      <md-toolbar layout="row"  layout-align="start center" class="md-primary md-hue-2 classification1 ">
        <div class="text1"> {{ data.classificationText }} </div>
      </md-toolbar> 

    </div>

  </body>

</html>