html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden !important;
}

.text1 {
  font-size: 9.5px;
  font-weight: bold;
}

/* Timeline ----------------------------------------------*/

.timeLineButtons span{
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.timeLine #horizontal-container {
  height: 45px;
  width: 95%;
}

.timeLineButtons {
  margin-right: 10px;
  line-height: 26px !important;
  width: 26px !important;
  height: 26px !important;
  min-height: 26px !important;
}

.selected {
  background-color: rgb(245, 226, 4) !important;
}

.removed {
  background-color: rgb(249, 0, 0) !important;
}

/* Toasts ------------------------------------------------*/
md-toast {
  min-height: 200px !important;
  min-width: 200px !important;
  background-color: rgb(66,66,66);
}

.satelliteWidget {
  padding: 0px 5px 10px 5px;
}

/* Toolbars ------------------------------------------------*/

.menuButton {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
  margin-top: auto;
  margin-bottom: auto;
}

.sensorControls, .timeControls, .timeBackControls {
  padding-bottom: 40px;
  border-bottom: 2px solid rgb(189,189,189);
}

.submitControl {
      margin-top: 20px;
}

md-menu-item .md-button {
  color: white;
}

md-toolbar .filtmenu {
  margin-right: 0px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

md-toolbar h3 {
  margin: auto;
  font-weight: 500;
}

md-toolbar form {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
}

md-toolbar.classification1 {
  background-color: darkgreen !important;
  border: 2px solid green;
  min-height: 16px !important;
}

md-toolbar.classification2 {
  background-color: darkred !important;
  border: 2px solid red;
  min-height: 16px !important;
}

.classification1 .text1, classification2 .text1 {
  margin-right: auto; 
  margin-left: auto;
}

.controlsToolbar {
  min-height: 45px !important;
  /*height: 45px;*/
}

/*.productControls {
  width: 33.33%;
} 

.playControls {
  width: 33.33%;
} 

.timeLine {
  width: 33.33%;
}*/

.playControlButton {
  margin: 0 -10px 0 10px;
}

.scroll-text {
    border: 1px solid red;
    width: 400px;
    height: 4.5em;
    overflow: hidden;
}

/* Sidenav area ---------------------------------------------------*/

md-list-item > button {
  width: 100%;
  text-align: left !important;
}

md-sidenav  md-list {
  padding: 0px 0px 8px 0px;
  overflow: hidden;
}

.filternav {
  width: 390px;
}

.infonav {
  width: 390px;
}


/* Primary content area -----------------------------------------------*/

#content {
  height: 100%;
}

#content .md-button.share {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  margin: 8px auto 16px 0;
  position: absolute;
  top: 10px;
  right: 25px;
}

#content .md-button.share > md-icon {
  fill:black;
  width: 36px;
  height: 36px;
}

md-button.menuBtn > md-icon {
  fill:white;
  width: 24px;
  height: 24px;
}

#content .md-button.share:active > md-icon {
  background-color: #dadada;
  border-radius: 75%;
  padding: 4px;
  transition: all 100ms ease-out 30ms;
}

#content #map {
  overflow: hidden;
  background-color: black;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

#content img {
  display: block;
  margin : auto;
  height: auto;
  width: auto;
  max-height: 100% !important;
  max-width: 100%;
}

/* Utils -----------------------------------------------------------------*/

.content-wrapper {
  position: relative;
}

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}

md-bottom-sheet  md-icon {
  margin-right: 20px;
}

span.name {
  font-weight: bold;
  font-size: 1.75em;
  padding-left: 5px;
}

md-dialog-content {
  padding: 10px 10px 10px 10px;
}

.helpoverlay {
  display: none;
}

/* Openlayers CSS -------------------------------------------------- */

.map:fullscreen {
  height: 100%;
}

.map:-moz-full-screen {
  height: 100%;
}

.map:-webkit-full-screen {
  height: 100%;
}

.ol-rotate {
  margin-top: 95px;
  left: .5em;
  right: auto !important;
}

.rotate-90 {
  top: 65px;
  left: .5em;
}

.ol-touch .rotate-90 {
  top: 80px;
}

.ol-control.rotate-90>button {
  font-size: xx-small;
  width: 21.94px;
  height: 21.94px;
}